*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore output
/.quarto/
/_site/
/_book/

# ignore user folders you don't want to share
/Rscripts/
/_quiz/
/_lab/
/latex/

# auto generated system files
.DS_Store
~*