*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
# escape pdf output
!docs/FIN5005-Fall-2025.pdf

# ignore output
/.quarto/
/_site/
/_book/

# ignore user folders you don't want to share
/Rscripts/
/_quiz/
/_lab/
/_exam/
/latex/
/data/cps09mar.csv
CASchools_test_score.csv
/.vscode/

# auto generated system files
.DS_Store
~*