*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore output
/.quarto/
/_site/
/_book/
# ignore user folders you don't want to share
# /data/
/Rscripts/
/_quiz/

# auto generated system files
.DS_Store
~*